*{
    font-family: 'Cute Font', cursive;
    background-color: gainsboro;
    color: darkorange;
}
	
header{
    height:130px;
}
 		
header h1{
    margin:0;
    margin-left: 5%;
    font-size:100px;
}

#status{
	font-style: italic;
	height:32px;
}

button{
    font-size: 20px;
    width: 300px;
}

label{
    font-size: 20px;
}

#container{
  border-radius: 15px 50px;
  background-color: grey;
  padding: 20px;
    padding-top: 50px;
  width: 200px;
  height: 500px;
  display:flex;
    font-size: 50px;
}

#myBox{
  border-radius: 50px 15px;
  border-style: double;
  width: 150px;
  height: 500px;
  overflow-y: scroll;
}

.greyBG{
    background-color: grey;
}

.widgets{
    margin-top: 2%;
    text-align: center;
    font-size: 35px;
}

#userForm {
  text-align: center;
  margin: 0 auto;
}


#top h1 {
  font-size: 2em;
}

.content {
  margin-top: 25px;
  font-size: 2em;
  text-align: center;
}

.hi, .hi > *{
    padding: 10px;
}

.outline{
    text-shadow:
    -1px -1px 0 #000,
     0   -1px 0 #000,
     1px -1px 0 #000,
     1px  0   0 #000,
     1px  1px 0 #000,
     0    1px 0 #000,
    -1px  1px 0 #000,
    -1px  0   0 #000;
}

#UI, UI > *{
    border: 30px solid gainsboro;
}

footer{
    display: flex;
    padding-top: 25px;
}
